.container {
    text-align: center;
    padding: 36px 0;
}

.header {
    margin-bottom: 32px;
}

.input {
    font-size: 24px;
    line-height: 32px;
    height: 40px;
    text-align: center;
    margin-left: 16px;
}
