.content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    text-align: center;
}

.input {
    font-size: 24px;
    line-height: 32px;
    height: 40px;
    text-align: center;
    margin-left: 16px;
}

.error {
    color: red;
    margin-bottom: 16px;
}